DATABASE_URL="postgresql://qlhs_user:change_me_local@localhost:5432/quan_ly_hoc_sinh?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
PORT=3000
FRONTEND_URL="http://localhost:5173"

